body {
	background-color: skyblue;
	font-family: 'Lato', sans-serif;
	text-align: center;
	display: grid;
	grid-template-rows: 218px auto ;
	grid-template-areas: 
		"header header"
		"header main" ;
}

.child-1 {
	grid-area: header;
}

.child-2 {
	grid-area: main;
}



#image {
	max-width: 100%;
	width: 1400px;
	height: 800px;
	letter-spacing: 2px;
	padding-top: 100px;
}


#img-caption {
	font-size: 20px;
}


main {
	position: relative;
	background-color: wheat;
	text-align: center;
	top: 0;
}

h1 {
	@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
}

#tribute-title {
	padding: 50px;
	text-align: center;
}




#heading {
	font-size: 50px;
	letter-spacing: 2px;
	padding-top: 50px;
}

.footer {
	font-size: 30px;
}

.quote {
	font-size: 25px;
	line-height: 1.5;
	padding-left: 300px;
	padding-right: 300px;
	text-align: left;
}

#slogan {
	font-size: 20px;
}

#title {
	background-color: wheat;
	letter-spacing: 1px;
	margin-top: 50px;

}

#tribute-info {
	font-size: 25px;
	line-height: 2;
	padding-left: 300px;
	padding-right: 300px;
	text-align: left;
}


@media screen and (min-width: 400px) {
	#header {
		margin: auto;
		width: 100%;
	}
	#main {
		margin: auto;
		width: 100%;
	}
	#image {
		margin: auto;
		width: 100%;
	}
}
